language: node_js
node_js:
 - "lts/*"
services:
  - mongodb
#sudo: required
before_install:
  - python setup.py
install:
 #- echo $ENCODED_CONFIG > .temp
 #- base64 --decode .temp > api/config/config.json
 - node util/setup.js --manual
 - npm install
script:
 - npm run test
 - npm run build
