.profile-wrapper {
  display: flex;
  margin: auto;
  max-width: 1000px;
}
.profile-posts-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin-left: 24px;
}

.profile-header {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 24px auto 0;
  justify-content: space-evenly;
}

.profile-bio {
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
  max-height: 200px;
  /* height: 200px; */
  max-width: 800px;
  width: 100%;
  /* width: 750px; */
  /* margin: 5px 20px 0 60px; */
  padding: 12px;
  font-size: 1.1em;
  margin-left: 24px;
  margin-top: 12px;
  background: #1b252b;
  min-height: 100px;
  border: none;
  resize: none;
}

.profile-image {
  height: 200px;
  width: 200px;
  min-height: 200px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* margin: 0 0 15px 0 */
  margin-top: 12px;
  margin-bottom: 12px;
  background: #1b252b;
}
.profile-image img {
  height: 100%;
}

.profile-image svg {
  fill: white;
  height: 125px;
}

.profile-management{
  display: flex;
  width: 200px;
  /* height: 265px; */
  /* max-height: 265px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
  flex-direction: column;
  align-items: center;
  background: #1b252b;
  padding: 12px 24px;
}

.profile-management-header{
  display: flex;
  color: white;
  font-size: 1.2em;
  margin: 8px 0 0;
}

.profile-management-buttons{
  margin: 8px 0 8px;
  flex-direction: column;
  align-items: center;
}

.profile-management-buttons button{
  background: #3AAB90;
  color: white;
  border: none;
  margin: 7px;
  font-size: 1.1em;
  font-weight: 500;
  width: 163px;
  max-width: 200px;
  height: 90px;
  max-height: 40px;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.profile-management-buttons .delete-button{
  background: #C13D3D;
}

.popup {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.popup h1 {
  color: white;
}

.popup input[type=submit]{
  background: #3AAB90;
  color: white;
  border: none;
}

.profile-popup {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
  z-index: 10;
}

.popup-container {
  position: relative;
  background: #1b252b;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
}
.popup-container .popup-header {
  width: calc(100% - 24px);
  border-bottom: 1px solid #555;
  color: #ddd;
  display: flex;
  justify-content: center;
  padding: 18px 0;
  font-size: 1.3em;
  margin: 0 12px;
}

.popup-container p {
  color: #ddd;
  margin-bottom: 0;
}
.popup-container span {
  color: #3AAb90;
  margin-bottom: 24px;
}
.popup-container input {
  width: 90%;
  color: white;
  border: 1px solid #555;

  border-radius: 10px;
  padding: 18px 36px 18px 36px;
  outline: none;
  color: #555;
  transition: all 0.2s;
  background: transparent;
}

.popup-container input:focus {
  border: 1px solid #3aab90;
}
.popup-container label {
  width: 90%;
  font-size: 0.9em;
  color: #ddd;
  margin-top: 24px;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 6px;
}
.popup-container .button {
  padding: 12px 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3AAB90;
  color: white;
  margin: 0 auto;
  border-radius: 20px;
  background: #3AAB90;
  color: white;
  margin-bottom: 24px;
  margin-top: 24px;
}
.popup-container .button.button-red {
  background: #C13D3D;
}
.popup-container .popup-close-button {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.popup-container .popup-close-button svg {
  fill: #ddd;
}
