.profile-meta {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 24px auto 0;
  justify-content: space-evenly;
}

.profile-meta p{
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
  max-height: 200px;
  height: 200px;
  margin: 5px 20px 0 60px;
  padding: 5px 6px 5px;
  font-size: 1.1em;
}

.profile-image-settings-container{
  flex-direction: column;
  min-width: 170px;
  padding: 5px 0 0 0;
  align-items: center;
}

.profile-meta-image{
  height: 200px;
  width: 200px;
  min-height: 200px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 15px;
}

.profile-meta-image svg{
  fill: white;
  height: 48px;
}

.profile-settings{
  display: flex;
  width: 200px;
  min-height: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
  flex-direction: column;
  align-items: center;
}

.profile-settings-header{
  display: flex;
  color: white;
  font-size: 1.2em;
  margin: 8px 0 0;
}

.profile-settings-buttons{
  margin: 8px 0 8px;
  flex-direction: column;
  align-items: center;
}

.profile-settings-buttons button{
  background: #3AAB90;
  color: white;
  border: none;
  margin: 7px;
  font-size: 1.1em;
  font-weight: 500;
  width: 163px;
  max-width: 200px;
  height: 90px;
  max-height: 40px;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.profile-settings-buttons .delete-button{
  background: #FF0000;
}
