.profile-wrapper {
  display: flex;
  margin: auto;
  max-width: 1000px;
}
.profile-posts-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin-left: 24px;
}

.profile-header {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 24px auto 0;
  justify-content: space-evenly;
}

.profile-bio {
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
  max-height: 200px;
  height: 200px;
  max-width: 750px;
  width: 750px;
  margin: 5px 20px 0 60px;
  padding: 5px 6px 5px;
  font-size: 1.1em;
}

.profile-image{
  height: 200px;
  width: 200px;
  min-height: 200px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 0 15px 0;
}

.profile-image svg{
  fill: white;
  height: 48px;
}

.profile-management{
  display: flex;
  width: 200px;
  height: 265px;
  max-height: 265px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
  flex-direction: column;
  align-items: center;
}

.profile-management-header{
  display: flex;
  color: white;
  font-size: 1.2em;
  margin: 8px 0 0;
}

.profile-management-buttons{
  margin: 8px 0 8px;
  flex-direction: column;
  align-items: center;
}

.profile-management-buttons button{
  background: #3AAB90;
  color: white;
  border: none;
  margin: 7px;
  font-size: 1.1em;
  font-weight: 500;
  width: 163px;
  max-width: 200px;
  height: 90px;
  max-height: 40px;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.profile-management-buttons .delete-button{
  background: #FF0000;
}

.popup {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative; 
}

.popup h1 {
  color: white;
}

.popup input[type=submit]{
  background: #3AAB90;
  color: white;
  border: none;
}
