.attachment-wrapper {
  margin: 0 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.attachment-wrapper svg {
  height: 25px;
  fill: #3AAB90;
}

.attachment-input-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attachment-input-close-button {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.attachment-input {
  position: relative;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
  max-width: 500px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.attachment-input-title {
  width: calc(100% - 24px);
  border-bottom: 1px solid #DDD;
  display: flex;
  justify-content: center;
  padding: 18px 0;
  font-size: 1.3em;
  margin: 0 12px;
}

.attachment-input input[type='file'] {
  display: none;
}

.attachment-input label {
  padding: 12px 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3AAB90;
  color: white;
  margin: 0 auto;
  border-radius: 20px;
}

.attachment-drag-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 36px 24px;
}

.upload-wrapper {
  width: 75px;
  height: 75px;
  border: 1px solid #DDD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0 36px;
  background: white;
  position: relative;
}

.upload-img {
  width: 75px;
  height: 75px;
  min-width: 75px;
  min-height: 75px;
  border: 3px solid #DDD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 1;
}

.upload-wrapper.uploading .upload-img,
.upload-wrapper.complete .upload-img {
  width: 90px;
  height: 90px;
  min-width: 90px;
  min-height: 90px;
  position: relative;
}

.upload-wrapper .pulse {
  position: absolute;
  border: 1px solid #CCC;
  width: 80%;
  height: 80%;
  top: 10%;
  right: 10%;
  left: 10%;
  bottom: 10%;
  border-radius: 50%;
  animation: pulse 1.5s ease-out;
  animation-iteration-count: infinite;
  display: none;
}

.upload-wrapper.idle .pulse,
.upload-wrapper.dragging .pulse {
  display: block;
}

.upload-wrapper .upload-img .upload-arrow,
.upload-wrapper .upload-img .upload-image,
.upload-wrapper .upload-img .upload-checkmark {
  height: 30px;
  fill: #3AAB90;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  transition: all 0.2s ease-out 0s;
}

.upload-wrapper.idle .upload-img .upload-arrow,
.upload-wrapper.dragging .upload-img .upload-arrow {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in 0.2s;
}

.upload-wrapper.uploading .upload-img .upload-image {
  height: 40px;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in 0.2s;
}

.upload-wrapper.complete .upload-img .upload-checkmark {
  height: 40px;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in 0.2s;
}


@keyframes pulse {
  0% {
    -moz-transform: scale(1.1);
    opacity: 0.9;
  }
  10% {
    -moz-transform: scale(1.2);
    opacity: 0.8;
  }
  20% {
    -moz-transform: scale(1.3);
    opacity: 0.7;
  }
  30% {
    -moz-transform: scale(1.4);
    opacity: 0.6;
  }
  40% {
    -moz-transform: scale(1.5);
    opacity: 0.5;
  }
  50% {
    -moz-transform: scale(1.6);
    opacity: 0.4;
  }
  60% {
    -moz-transform: scale(1.7);
    opacity: 0.3;
  }
  70% {
    -moz-transform: scale(1.8);
    opacity: 0.2;
  }
  80% {
    -moz-transform: scale(1.9);
    opacity: 0.1;
  }
  90% {
    -moz-transform: scale(2);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(2);
    opacity: 0;
  }
}

.attachment-input-error {
  width: 100%;
  text-align: center;
  padding: 6px 0;
  color: red;
}
