body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
}

* {
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222831;
  background-image: url("/login-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
}

.login-container .login-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 48px;
}

.login-container .login-header svg {
  height: 80px;
  width: 80px;
  fill: white;
}

.login-container form {
  max-width: 425px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 12px;
  background-color: white;
  padding: 60px 36px 36px;
  border-radius: 10px;
}

.login-container h1 {
  font-weight: 100;
  color: #FFF;
  letter-spacing: 3px;
  margin-bottom: 1em;
  text-align: center;
  font-size: 3em;
}

.login-container .alternate-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -12px 0 24px;
}

.login-container .alternate-cta label {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #3aab90;
}

.login-container a,
.login-container a:visited {
  text-decoration: none;
  color: #FFF;
  transition: opacity 0.2s;
}

.login-container form a,
.login-container form a:visited {
  color: #3aab90;
}

.login-container a:hover {
  opacity: 0.8;
}

.login-container p {
  color: #DDD;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-top: 18px;
  font-weight: 300;
}

.login-container form input {
  border-radius: 10px;
  border: 1px solid #DDD;
  padding: 18px 36px 18px 36px;
  outline: none;
  color: #555;
  width: 100%;
  transition: all 0.2s;
  background: transparent;
}

.login-container form input[type='checkbox'] {
  border-radius: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  -webkit-appearance: checkbox;
}

.login-container form label {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 300;
  color: #555;
  margin-bottom: 6px;
}

.login-container form .form-input-wrapper {
  position: relative;
  margin-bottom: 24px;
}
.login-container form .form-input-wrapper svg {
  height: 24px;
  width: 24px;
  fill: #DDD;
  position: absolute;
  top: 16px;
  left: 10px;
  transition: fill 0.2s;
}

.login-container form .form-input-wrapper svg.checkmark {
  fill: green;
  right: 10px;
  left: initial;
}

.login-container form input:focus {
  border: 1px solid #3aab90;
}
.login-container form input:focus ~ svg {
  fill: #3aab90;
}

.login-container form input::placeholder {
  color: #DDD;
}

.login-container input:-webkit-autofill,
.login-container input:-webkit-autofill:hover,
.login-container input:-webkit-autofill:focus
.login-container input:-webkit-autofill {
  border: 1px solid #DDD;
  -webkit-text-fill-color: #555;
  transition: background-color 5000s ease-in-out 0s;
}

.login-container form button,
.login-container .button-primary {
  padding: 18px 12px;
  border-radius: 10px;
  border: none;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3aab90;
  color: #FFF;
  cursor: pointer;
}
.login-container form button svg {
  fill: #FFF;
  margin-right: 8px;
}

.login-container form button:hover {
  background: #00adb5;
}

.login-container form span,
.popup-wrapper span {
  color: orange;
  font-size: 0.95em;
  margin-bottom: 12px;
}

.login-container .password-strength {
  color: white;
}

.password-strength {
  margin-bottom: 12px;
  font-size: 0.95em;
}

.password-meter-wrapper {
  width: 100%;
  height: 5px;
  background: rgba(255,255,255,0.3);
  margin-bottom: 12px;
  margin-top: -12px;
}

.password-meter {
  height: 100%;
}
